/*
    z-index list
    mode-switch: 100
    toolbar: 500
*/

* {
    margin: 0;
    /* Able to click on it */
    /* If it's under an element */
    /* If we ignore clicks, we can use: pointer-events: none;  */
    pointer-events: auto;  
}
.main {
    overflow: hidden;
}